body{
  margin: 0;
  padding: 0;
}

.flex-box-1{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.div-1{
  display: flex;
  background-color: red;
  height: 24rem;
  width: 24rem;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
}



.div-2{
  /* flex: 1; */
  background: green;
  height: 8em;
  width: 8em;
  
  
}