body{
  margin: 0;
  padding: 0;
}

.flex-box-1{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.div-1{
  width: 200px;
  height: 200px;
  background-color: red;
}

.flex-box-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-2{
  width: 200px;
  height: 200px;
  background-color: rgb(0, 255, 0);
}

.flex-box-3{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.div-3{
  width: 200px;
  height: 200px;
  background-color: rgb(0, 17, 255);
}