body{
  margin: 0;
  padding: 0;
}

.container{
  width: 25vw;
  height: 80vh;
  background-color: red;
}

.div-1{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

.div-2,
.div-3{
  width: 100px;
  height: 100px;
  background-color: blue;
}